@{
    ViewBag.Title = "Cart";
    Layout = "_galleryLayout";
}
@using NETCORE_CA_8A.Models;
<b style="margin-right: 10px;color:#568ea1;font-size: 20px;font-style: bold;margin-left:460px;margin-bottom:15px;">CART</b>
@{
    //if (@ViewBag.CartItems.Count == 0)
    
    if (@ViewBag.ItemCount == 0)
    {
        <div class="alert alert-info">
            <strong>Your cart is empty!</strong>
        </div>

    }
    else
    {
        <div class="container">
            <div class="row col-md-6 col-md-offset-2 custyle">
                <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Desc</th>
                            <th colspan="3">Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    @{

                        double cost = 0;
                        foreach (CartItem cartItem in @ViewBag.CartItems)
                        {
                            var subSum = @cartItem.Quantity * @cartItem.Product.unitPrice;
                            <tr>
                                <td><img src=@cartItem.Product.Image class="card-img-top" style="height: 100px; width: 120px;"></td>
                                <td>@cartItem.Product.productName</td>
                                <td>@cartItem.Product.description</td>

                                <td>
                                    <form action="/Cart/RemoveItemFromCart">
                                        <input name="productId" type="hidden" value="@cartItem.Product.Id" />
                                        <input class="icon-minus-sign" type="submit" value="-">
                                    </form>
                                </td>
                                <td>
                                    @cartItem.Quantity
                                </td>
                                <td>
                                    <form action="/Cart/AddItemFromCart">
                                        <input name="productId" type="hidden" value="@cartItem.Product.Id" />
                                        <input class="icon-plus-sign" type="submit" value="+">
                                    </form>
                                </td>

                                <td>@subSum</td>
                            </tr>
                            cost += @cartItem.Quantity * @cartItem.Product.unitPrice;
                        }
                        <tr>
                            <td>
                                <form action="/Gallery/Gallery">
                                    <input type="hidden" name="itemCount" value="@ViewBag.ItemCount" />
                                    <input class="btn btn-outline-primary" type="submit" value="Continue Shopping">
                                </form>
                            </td>
                            <td colspan="5"><strong>@("Total $" + @cost)</strong></td>
                            <td>
                                @if (cost != 0)
                                {
                                    var str = "/Cart/CheckoutCart";
                                    <form action=@str>
                                        <input type="hidden" name="itemCount" value="@ViewBag.ItemCount" />
                                        <input class="btn btn-primary" type="submit" value="Checkout">
                                    </form>
                                }
                            </td>
                        </tr>
                        
                        
                    }
                </table>
            </div>
        </div>
    }
}
